#  EDUNET FOUNDATION -Class Exrercise Notebook
# LAB 18- Implementing Logistic Regression

# # 1. Import Data & Python Packages

In [6]:
import numpy as np 
import pandas as pd 
import json

from sklearn import preprocessing
import matplotlib.pyplot as plt 
plt.rc("font", size=14)
import seaborn as sns
sns.set(style="white") #white background style for seaborn plots
sns.set(style="whitegrid", color_codes=True)

import warnings
warnings.simplefilter(action='ignore')

In [10]:
import json
import pandas as pd

# Initialize an empty list to store the parsed JSON objects
json_data_list = []

# Reading JSON data from a file line by line
with open("face_detection.json") as f:
    for line in f:
        json_data = json.loads(line)
        json_data_list.append(json_data)

# Converting the list of JSON objects to a pandas DataFrame
df = pd.DataFrame(json_data_list)

In [11]:
df.to_csv("output.csv", index=False)

In [12]:
df

,content,annotation,extras
0,http://com.dataturks.a96-i23.open.s3.amazonaws...,"[{'label': ['Face'], 'notes': '', 'points': [{...",None
1,http://com.dataturks.a96-i23.open.s3.amazonaws...,"[{'label': ['Face'], 'notes': '', 'points': [{...",None
2,http://com.dataturks.a96-i23.open.s3.amazonaws...,"[{'label': ['Face'], 'notes': '', 'points': [{...",None
3,http://com.dataturks.a96-i23.open.s3.amazonaws...,"[{'label': ['Face'], 'notes': '', 'points': [{...",None
4,http://com.dataturks.a96-i23.open.s3.amazonaws...,"[{'label': ['Face'], 'notes': '', 'points': [{...",None
...,...,...,...
404,http://com.dataturks.a96-i23.open.s3.amazonaws...,"[{'label': ['Face'], 'notes': '', 'points': [{...",None
405,http://com.dataturks.a96-i23.open.s3.amazonaws...,"[{'label': ['Face'], 'notes': '', 'points': [{...",None
406,http://com.dataturks.a96-i23.open.s3.amazonaws...,"[{'label': ['Face'], 'notes': '', 'points': [{...",None
407,http://com.dataturks.a96-i23.open.s3.amazonaws...,"[{'label': ['Face'], 'notes': '', 'points': [{...",None
408,http://com.dataturks.a96-i23.open.s3.amazonaws...,"[{'label': ['Face'], 'notes': '', 'points': [{...",None

In [36]:
print('The number of samples into the train data is {}.'.format(df.shape[0]))

The number of samples into the train data is 409.

In [37]:
# preview test data
df.head()

,content,annotation,extras
0,http://com.dataturks.a96-i23.open.s3.amazonaws...,"[{'label': ['Face'], 'notes': '', 'points': [{...",None
1,http://com.dataturks.a96-i23.open.s3.amazonaws...,"[{'label': ['Face'], 'notes': '', 'points': [{...",None
2,http://com.dataturks.a96-i23.open.s3.amazonaws...,"[{'label': ['Face'], 'notes': '', 'points': [{...",None
3,http://com.dataturks.a96-i23.open.s3.amazonaws...,"[{'label': ['Face'], 'notes': '', 'points': [{...",None
4,http://com.dataturks.a96-i23.open.s3.amazonaws...,"[{'label': ['Face'], 'notes': '', 'points': [{...",None

In [38]:
print('The number of samples into the test data is {}.'.format(df.shape[0]))

The number of samples into the test data is 409.

<a id="t2."></a>
# 2. Data Quality & Missing Value Assessment

In [18]:
df.isnull().sum()

content         0
annotation      0
extras        409
dtype: int64

df.columns

In [39]:
print('Percent of missing "annotation" records is %.2f%%' %((df['annotation'].isnull().sum()/df.shape[0])*100))

Percent of missing "annotation" records is 0.00%